---
layout: layouts/base.njk
eleventyNavigation:
  key: Bikes
  order: 1
title: Discover our bikes
---

<div class="categories-container">
    <div class="h-layout">
        <div class="categories__content">
            <a href="/bikes?category=all" class="primary-button">
                <span>All bikes</span>
                <i class="fas fa-arrow-right"></i>
            </a>

            <ul class="categories-list"></ul>
        </div>
    </div>
</div>