h1 {
    font-family: $font-family-inter;
    font-size: $font-size-huge;
    font-weight: 700;
    margin-bottom: $margin-base;
    text-transform: uppercase;
}

h2 {
    font-family: $font-family-inter;
    font-size: $font-size-biggest;
    font-weight: 500;
    margin-bottom: $margin-base;
}

h3 {
    font-family: $font-family-inter;
    font-size: $font-size-bigger;
    font-weight: 600;
    margin-bottom: $margin-base;
}

h4 {
    font-family: $font-family-inter;
    font-size: $font-size-big;
    margin-bottom: $margin-base;
}

p {
    font-family: $font-family-source;
    font-size: $font-size-normal;
    line-height: $line-height-base;
    margin-bottom: $margin-base;
}