.dropdown {
    border: 2px solid $black;
    padding: $padding-base;
    position: relative;
    cursor: pointer;
    width: 12rem;
    margin-bottom: $margin-base;

    .fa-chevron-down {
        margin-left: $margin-base;
    }

    ul {
        padding: $padding-base;
        border: 1px solid $black;
        position: absolute;
        display: none;
        top: 2rem;
        left: 0;
        width: 100%;
        background: $white;

        li {
            margin-bottom: $margin-small;

            a{
                color: $black;
            }
        }
    }

    &.open {
        ul {
            display: block;
        }
    }
}