/* Abstracts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
/*
Base
*/
h1 {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #FFF;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* 
Horizontal layout
*/
.h-layout {
  width: 85rem;
  max-width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

@media (min-width: 48rem) {
  .h-layout {
    width: 85rem;
    max-width: 100%;
    padding: 0 4rem;
    margin: 0 auto;
  }
}
.h-layout--small {
  width: 40rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

section {
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.flex {
  display: flex;
}

/*
Components
*/
.cookie-container {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: -100%;
  left: 0;
  padding-bottom: 1rem;
  background: #E9E2DF;
  color: #151515;
  border: 1px solid #151515;
  z-index: 3;
  transition: 0.4s ease;
}
.cookie-container.active {
  bottom: 0;
}
.cookie-container a {
  color: #151515;
}
.cookie-btn {
  padding: 0.5rem 1rem;
  border: 1px solid #151515;
  cursor: pointer;
  transition: all 0.4s ease;
  transform: translateY(0);
}
.cookie-btn:hover {
  transform: translateY(-10%);
}

.menu {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.menu i {
  cursor: pointer;
}
.menu__logo {
  display: flex;
  position: relative;
  padding: 1rem 1rem;
  border: 2px solid #FFF;
}
.menu__logo i {
  position: absolute;
  font-size: 2rem;
  color: #FFF;
}
.menu__logo .logo {
  display: block;
  margin: 0 auto;
}
.menu__logo .logo svg {
  height: 1.8rem;
}
.menu__nav {
  display: none;
  font-size: 2.5rem;
  line-height: 2rem;
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  padding: 0;
  top: 0rem;
  left: 0rem;
  padding: 3rem 4rem;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  background: #151515;
  color: #FFF;
  z-index: 100;
}
.menu__nav .close-icon {
  opacity: 70%;
  -webkit-text-stroke: 3px #151515;
  /* little hack to chance the thickness */
}
.menu__nav .close-icon:hover {
  opacity: 100%;
}
.menu__nav .main-nav__list-item {
  margin-bottom: 2rem;
}
.menu__nav .main-nav__list-item a {
  font-family: "Source Sans Pro", sans-serif;
  color: #FFF;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  opacity: 70%;
}
.menu__nav .main-nav__list-item a:hover {
  opacity: 100%;
}
.menu__nav .main-nav__list-item--active a {
  opacity: 100%;
  font-weight: 600;
}
.menu__nav .main-nav__list-item--active::after {
  display: block;
  margin-top: 0.5rem;
  content: "";
  width: 100%;
  height: 2px;
  background: #FFF;
  transition: all 0.3s ease;
}

.open {
  transform: translateY(0);
}

@media (min-width: 48rem) {
  .menu {
    display: flex;
    align-items: center;
    border: none;
  }
  .menu__logo {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 5rem;
    border: 2px solid #FFF;
  }
  .menu__logo i {
    display: none;
  }
  .menu__nav {
    position: relative;
    width: 100%;
    height: 5rem;
    transform: translateY(0);
    background: #151515;
    padding: 0;
    display: flex;
    align-items: center;
    border: 2px solid #FFF;
    margin-left: -2px;
  }
  .menu__nav .close-icon {
    display: none;
  }
  .menu__nav .main-nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 2rem;
    margin-bottom: 0.3rem;
  }
  .menu__nav .main-nav__list-item {
    padding: 0;
    margin: 0;
    margin-right: 2rem;
  }
  .menu__nav .main-nav__list-item a {
    color: #FFF;
    opacity: 70%;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.3s ease-in-out all;
  }
  .menu__nav .main-nav__list-item a:hover {
    opacity: 100%;
  }
  .menu__nav .main-nav__list-item--active a {
    opacity: 100%;
    font-weight: 600;
  }
  .menu__nav .main-nav__list-item--active::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #FFF;
    transition: all 0.3s ease;
    margin-top: 0;
  }
  .menu__nav .main-nav__list-item:nth-child(3) {
    margin-right: 7rem;
  }
}
@media (min-width: 60rem) {
  .menu__nav ul li:nth-child(3) {
    margin-right: 18rem;
  }
}
/* Primary btn */
.primary-button {
  display: inline-block;
  font-size: 1rem;
  color: #FFF;
  background-color: #151515;
  padding: 1rem 2rem;
  transition: all 0.4s ease;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.primary-button i {
  margin-left: 0.5rem;
}

.primary-button:hover,
.primary-button:focus {
  background-color: #333;
  color: #FFF;
  text-decoration: none;
}
.primary-button:hover i,
.primary-button:focus i {
  margin-left: 1rem;
}

.secondary-button {
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #FFF;
  color: #FFF;
  padding: 1rem 2rem;
  transition: all 0.4s ease;
  margin-top: 1rem;
  text-transform: uppercase;
}
.secondary-button i {
  margin-left: 0.5rem;
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: #FFF;
  color: #151515;
  text-decoration: none;
}
.secondary-button:hover i,
.secondary-button:focus i {
  margin-left: 1rem;
}

.footer-nav {
  --nav-spacing: 18px;
}
.footer-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-nav__list-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}
.footer-nav__list-item > a {
  display: block;
  color: #FFF;
  opacity: 70%;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
.footer-nav__list-item > a:hover {
  opacity: 100%;
}
.footer-nav__list-item--active > a {
  opacity: 100%;
  font-weight: 600;
}

.dropdown {
  border: 2px solid #151515;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  width: 12rem;
  margin-bottom: 1rem;
}
.dropdown .fa-chevron-down {
  margin-left: 1rem;
}
.dropdown ul {
  padding: 1rem;
  border: 1px solid #151515;
  position: absolute;
  display: none;
  top: 2rem;
  left: 0;
  width: 100%;
  background: #FFF;
}
.dropdown ul li {
  margin-bottom: 0.5rem;
}
.dropdown ul li a {
  color: #151515;
}
.dropdown.open ul {
  display: block;
}

.testimonial {
  margin-bottom: 1rem;
}
.testimonial__content .sign--blue {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  color: #88A8DE;
}
.testimonial__content .sign--green {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  color: #80B4A1;
}
.testimonial__content .sign--pink {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  color: #F6AB95;
}
.testimonial__content p {
  margin-top: -3rem;
}
.testimonial__review {
  display: flex;
  align-items: center;
}
.testimonial__review__img .user--blue {
  width: 4.5rem;
  height: 4rem;
  object-fit: cover;
  padding-right: 0.5rem;
  margin-right: 1rem;
  border-right: 2px solid #88A8DE;
}
.testimonial__review__img .user--green {
  width: 4.5rem;
  height: 4rem;
  object-fit: cover;
  padding-right: 0.5rem;
  margin-right: 1rem;
  border-right: 2px solid #80B4A1;
}
.testimonial__review__img .user--pink {
  width: 4.5rem;
  height: 4rem;
  object-fit: cover;
  padding-right: 0.5rem;
  margin-right: 1rem;
  border-right: 2px solid #F6AB95;
}
.testimonial__review__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 4rem;
}
.testimonial__review__info .user-name {
  font-weight: 600;
}

/*
Layout
*/
header {
  background-color: #151515;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero-home {
  z-index: 1;
  background-color: #000;
  color: #FFF;
  padding-bottom: 4rem;
}
.hero-home__img img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

@media (min-width: 48rem) {
  .hero-home {
    z-index: 1;
    position: relative;
    background-color: #FFF;
  }
  .hero-home__img img {
    height: 80vh;
    width: 100vw;
  }
  .hero-home__content {
    position: absolute;
    top: 10rem;
    right: 0;
    width: 50%;
  }
}
@media (min-width: 60rem) {
  .hero-home__content {
    right: 5rem;
    width: 40%;
  }
}
.carrousel-home {
  padding-bottom: 3rem;
  position: relative;
}
.carrousel-home__images {
  margin-right: 1rem;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  transform: translateZ(0);
  scroll-snap-type: x mandatory;
  display: flex;
}
.carrousel-home__images div {
  margin-right: 1rem;
}
.carrousel-home__images div a img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}

@media (min-width: 48rem) {
  .carrousel-home {
    padding-top: 3rem;
  }
  .carrousel-home__content {
    width: 60%;
  }
  .carrousel-home__images {
    padding-top: 2rem;
  }
  .carrousel-home__images img {
    margin-right: 4rem;
    object-fit: cover;
    width: 25rem;
    height: 25rem;
  }
}
.features-home {
  padding-top: 13rem;
  padding-bottom: 3rem;
  background-color: #E9E2DF;
  margin-top: -12rem;
  text-align: center;
}
.features-home .feature {
  padding-bottom: 2rem;
}
.features-home .feature i {
  font-size: 2.5rem;
}
.features-home .feature p {
  width: 75%;
  margin: 0 auto;
}

.features-about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #E9E2DF;
  text-align: center;
}
.features-about .feature {
  padding-bottom: 2rem;
}
.features-about .feature i {
  font-size: 2.5rem;
}
.features-about .feature p {
  width: 75%;
  margin: 0 auto;
}

@media (min-width: 48rem) {
  .features-home__flex {
    display: flex;
    justify-content: space-between;
  }
  .features-home__flex .feature {
    width: 30%;
    padding-top: 2rem;
  }
}
@media (min-width: 48rem) {
  .features-about__flex {
    display: flex;
    justify-content: space-between;
  }
  .features-about__flex .feature {
    width: 30%;
    padding-top: 2rem;
  }
  .features-about__flex .feature p {
    width: 100%;
    margin: 0 auto;
  }
}
.testimonials-home {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.testimonials-home__flex {
  display: flex;
  flex-direction: column;
}
.testimonials-home__flex .testimonial {
  margin-bottom: 1rem;
}
.testimonials-home__flex .testimonial__content .sign--blue {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  color: #88A8DE;
}
.testimonials-home__flex .testimonial__content .sign--green {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  color: #80B4A1;
}
.testimonials-home__flex .testimonial__content .sign--pink {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  color: #F6AB95;
}
.testimonials-home__flex .testimonial__content p {
  margin-top: -3rem;
}
.testimonials-home__flex .testimonial__review {
  display: flex;
  align-items: center;
}
.testimonials-home__flex .testimonial__review__img .user--blue {
  width: 4.5rem;
  height: 4rem;
  object-fit: cover;
  padding-right: 0.5rem;
  margin-right: 1rem;
  border-right: 2px solid #88A8DE;
}
.testimonials-home__flex .testimonial__review__img .user--green {
  width: 4.5rem;
  height: 4rem;
  object-fit: cover;
  padding-right: 0.5rem;
  margin-right: 1rem;
  border-right: 2px solid #80B4A1;
}
.testimonials-home__flex .testimonial__review__img .user--pink {
  width: 4.5rem;
  height: 4rem;
  object-fit: cover;
  padding-right: 0.5rem;
  margin-right: 1rem;
  border-right: 2px solid #F6AB95;
}
.testimonials-home__flex .testimonial__review__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 4rem;
}
.testimonials-home__flex .testimonial__review__info .user-name {
  font-weight: 600;
}

@media (min-width: 48rem) {
  .testimonials-home {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .testimonials-home__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .testimonials-home__flex .testimonial {
    width: 30%;
  }
}
.footer {
  background: #151515;
  color: #FFF;
}
.footer h4 {
  text-transform: uppercase;
}
.footer__container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer__container-top .help-footer span {
  display: block;
  margin-bottom: 0.5rem;
}
.footer__container-top .logo-footer {
  width: 40vw;
}
.footer__container-top .menu-footer {
  display: block;
}
.footer__container-top .sign-me-up__form {
  position: relative;
}
.footer__container-top .sign-me-up__form input {
  padding: 1rem;
  width: 95%;
  background-color: #151515;
  color: #FFF;
  border: none;
  border-bottom: 2px solid #FFF;
  outline: 0;
}
.footer__container-top .sign-me-up__form input:focus {
  border-bottom: 2px solid #88A8DE;
}
.footer__container-top .sign-me-up__form i {
  position: absolute;
  top: 1rem;
  right: 3rem;
  transition: all 0.3s ease;
}
.footer__container-top .sign-me-up__form i:hover {
  right: 2.5rem;
}
.footer__container-top .sign-me-up__socials {
  margin-top: 2rem;
}
.footer__container-top .sign-me-up__socials .socials__list {
  display: flex;
}
.footer__container-top .sign-me-up__socials .socials__list-item a {
  color: white;
}
.footer__container-top .sign-me-up__socials .socials__list-item a i {
  font-size: 1.75rem;
  margin-right: 1rem;
}
.footer__container-top .sign-me-up__socials .socials__list-item a:hover {
  color: #88A8DE;
}
.footer__container-bottom .legals {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__container-bottom .legals a {
  color: #FFF;
  margin-right: 1rem;
}

@media (min-width: 48rem) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer__container-top {
    display: flex;
    justify-content: space-between;
  }
  .footer__container-top .logo-footer {
    width: 15%;
  }
  .footer__container-top .logo-footer img {
    width: 100%;
  }
  .footer__container-top .menu-footer {
    width: 10%;
  }
  .footer__container-top .help-footer {
    width: 20%;
  }
  .footer__container-top .sign-me-up {
    width: 30%;
  }
  .footer__container-bottom {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
  }
}
/*
Pages
*/
.about-container {
  padding-bottom: 0;
}
.about-container h1 {
  margin-top: 2rem;
}
.about-container__content .content-intro p {
  color: #80B4A1;
  font-size: 1.75rem;
}
.about-container__us {
  background: #151515;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-container__us .person {
  position: relative;
  margin-bottom: 2rem;
  width: 75%;
}
.about-container__us .person__img img {
  height: 100vw;
  object-fit: cover;
}
.about-container__us .person__socials {
  position: absolute;
  bottom: 3rem;
  right: 0;
  background-color: #151515;
}
.about-container__us .person__socials ul li {
  padding: 0.5rem 1rem;
}
.about-container__us .person__socials ul li a {
  color: #FFF;
  font-size: 1.75rem;
}
.about-container__us .person__socials ul li a i {
  transition: 0.3s ease-in-out;
}
.about-container__us .person__socials ul li a:hover {
  color: #88A8DE;
}
.about-container__us .person__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-container__us .person__info span {
  display: block;
  margin-top: 0.5rem;
  color: #FFF;
  font-size: 1.25rem;
}
.about-container__us .person::after {
  display: block;
  margin-top: 1rem;
  content: "";
  width: 100%;
  height: 2px;
  background: #FFF;
  transition: all 0.3s ease;
}

@media (min-width: 48rem) {
  .about-container h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .about-container__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .about-container__content .content-intro,
.about-container__content .content-story {
    width: 28%;
  }
  .about-container__content .content-story {
    margin-top: 4rem;
  }
  .about-container__us {
    margin-top: 10rem;
  }
  .about-container__us .about-container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .about-container__us .about-container-flex .person {
    width: 28%;
  }
  .about-container__us .about-container-flex .person__img img {
    height: 30rem;
    width: 22rem;
    object-fit: cover;
  }
  .about-container__us .about-container-flex .person:first-of-type {
    margin-top: -10rem;
    border: 2px solid #151515;
  }
  .about-container__us .about-container-flex .person:nth-child(2) {
    margin-top: 7rem;
  }
  .about-container__us .about-container-flex .person__socials {
    bottom: 20rem;
    right: 0rem;
  }
}
.categories-container {
  background-color: #88A8DE;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.categories-container .categories__content ul {
  margin: 0;
}
.categories-container .categories__content ul li a {
  font-size: 2.5rem;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 500;
}
.categories-container .categories__content ul li a:hover {
  color: #151515;
}

@media (min-width: 48rem) {
  .categories-container {
    padding-left: 15%;
  }
}
.webshop {
  padding-bottom: 2rem;
}
.webshop .category-container__img {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4990371148) 0%, rgba(0, 0, 0, 0.4962359944) 100%);
}
.webshop .category-container__img h2 {
  position: absolute;
  z-index: 1;
  top: 20rem;
  left: 0;
  right: 0;
  margin: auto;
  color: #FFF;
  text-align: center;
  display: block;
  width: 100%;
  text-transform: uppercase;
}
.webshop .category-container__img img {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  opacity: 0.5;
}
.webshop .category-container__description {
  padding: 1rem 0;
  color: #FFF;
  text-align: center;
  margin-top: -4px;
}
.webshop .category-container .blue {
  background-color: #88A8DE;
}
.webshop .category-container .green {
  background-color: #80B4A1;
}
.webshop .category-container .brown {
  background-color: #A38383;
}
.webshop .category-container .pink {
  background-color: #F6AB95;
}
.webshop .products-list-item {
  margin-bottom: 2rem;
}
.webshop .products-list-item .product {
  color: #151515;
  text-align: center;
}
.webshop .products-list-item .product__img {
  width: 60vw;
  display: block;
  margin: 0 auto;
}
.webshop .products-list-item .product__title {
  margin-bottom: 0.5rem;
}
.webshop .products-list-item .product__price {
  display: block;
}
.webshop .products-list-item .product__color {
  display: block;
}
.webshop .primary-button {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 48rem) {
  .webshop .category-container__description {
    padding: 3rem 0;
  }
  .webshop .category-container__description p {
    width: 65%;
    margin: 0 auto;
  }
}
@media (min-width: 48rem) {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .products-list-item {
    width: 30%;
  }
  .products-list-item .product__img {
    width: 100%;
    margin: 0;
  }
}
.contact-container {
  padding-bottom: 0;
}
.contact-container h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contact-container__info .info-black {
  background-color: #151515;
  padding: 1rem 1.5rem;
  color: #FFF;
}
.contact-container__info .info-black h4 {
  text-transform: uppercase;
}
.contact-container__info .info-black span {
  display: block;
  margin-bottom: 1rem;
}
.contact-container__form {
  background-color: #E9E2DF;
  padding-top: 13rem;
  padding-bottom: 3rem;
  margin-top: -10rem;
}
.contact-container__form .form-content .flex {
  display: flex;
  align-items: center;
}
.contact-container__form .form-content .flex form {
  width: 12rem;
  margin-left: 0.5rem;
  border-bottom: 1px solid #151515;
}
.contact-container__form .form-content .flex form input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #E9E2DF;
}
.contact-container__form .form-content .flex select {
  width: 12rem;
  margin-left: 0.5rem;
  border: none;
  border-bottom: 1px solid #151515;
  background-color: #E9E2DF;
}

@media (min-width: 48rem) {
  .contact-container h1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .contact-container__info {
    display: flex;
  }
  .contact-container__info .info-black {
    width: 50%;
    padding: 3rem;
  }
  .contact-container__info .info-black h4:nth-of-type(2) {
    margin-top: 4rem;
  }
  .contact-container__info .info-img {
    width: 50%;
  }
  .contact-container__form .form-content-web {
    display: flex;
  }
  .contact-container__form .form-content h3 {
    width: 50%;
  }
}
.detail-container {
  padding-bottom: 3rem;
}
.detail-container__title {
  color: #80B4A1;
  font-weight: 700;
}
.detail-container__flex .overview {
  border: 2px solid #151515;
}
.detail-container__flex .overview .title {
  font-weight: 600;
}
.detail-container__flex .overview span {
  display: block;
  margin-bottom: 0.5rem;
}
.detail-container__flex .overview h3 {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #151515;
  text-align: center;
}
.detail-container__flex .overview__color {
  padding: 0.5rem 1rem;
}
.detail-container__flex .overview__color .black {
  background: black;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .grey {
  background: grey;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .magenta {
  background: magenta;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .yellow {
  background: yellow;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .sky {
  background: skyblue;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .lavender {
  background: lavender;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .azure {
  background: azure;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .indigo {
  background: indigo;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .salmon {
  background: salmon;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .ivory {
  background: ivory;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .red {
  background: red;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .gold {
  background: gold;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .green {
  background: green;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .blue {
  background: blue;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .cyan {
  background: cyan;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .lime {
  background: lime;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .orange {
  background: orange;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .olive {
  background: olive;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .lavender {
  background: lavender;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .turquoise {
  background: turquoise;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__color .orchid {
  background: orchid;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-container__flex .overview__size {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.detail-container__flex .overview__size ul {
  display: flex;
}
.detail-container__flex .overview__size ul li {
  padding: 1rem;
  margin-right: 1rem;
  border: 1px solid #151515;
  border-radius: 0.5rem;
}
.detail-container__flex .overview__size ul li a {
  color: #151515;
}
.detail-container__flex .overview__price {
  border-top: 1px solid #151515;
  display: flex;
  justify-content: space-between;
}
.detail-container__flex .overview__price span {
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  width: 40%;
  margin: 0;
}
.detail-container__flex .overview__price .add-to-cart {
  width: 60%;
  margin-left: 0 auto;
  background: #151515;
  color: #FFF;
  transition: all 0.3s ease-in-out;
}
.detail-container__flex .overview__price .add-to-cart span {
  width: 100%;
}
.detail-container__flex .overview__price .add-to-cart:hover {
  background: #333;
}
.detail-container__flex .img {
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .detail-container__title {
    margin-bottom: 2rem;
  }
  .detail-container__flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .detail-container__flex .overview {
    width: 40%;
  }
  .detail-container__flex .img {
    width: 40%;
  }
  .detail-container__flex .description {
    width: 50%;
    margin-top: 1rem;
  }
  .detail-container__flex .reviews {
    width: 40%;
    margin-top: 1rem;
  }
}
.cart-container__flex-top .product img {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 70%;
}
.cart-container__flex-top__mobile {
  display: flex;
  border: 2px solid #151515;
}
.cart-container__flex-top__mobile .quantity {
  width: 50%;
  text-align: center;
}
.cart-container__flex-top__mobile .quantity .title-top {
  padding: 0.5rem;
  display: block;
  width: 100%;
  border-bottom: 2px solid #151515;
  border-right: 2px solid #151515;
}
.cart-container__flex-top__mobile .quantity div {
  padding: 0.5rem;
  border-right: 2px solid #151515;
}
.cart-container__flex-top__mobile .price {
  width: 50%;
  text-align: center;
}
.cart-container__flex-top__mobile .price .title-top {
  padding: 0.5rem;
  display: block;
  width: 100%;
  border-bottom: 2px solid #151515;
}
.cart-container__flex-top__mobile .price .price {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
}
.cart-container__flex-top .subtotal {
  margin-top: 1rem;
}
.cart-container__flex-top .subtotal .title-top {
  font-weight: 600;
}
.cart-container__flex-bottom .discount {
  background: #E9E2DF;
  padding: 1rem;
  margin-top: 2rem;
}
.cart-container__flex-bottom .discount h3 {
  margin: 0;
  padding: 0.5rem 0;
}
.cart-container__flex-bottom .discount input {
  padding: 1rem;
}

@media (min-width: 48rem) {
  .cart-container {
    padding-bottom: 2rem;
  }
  .cart-container h1 {
    margin-bottom: 4rem;
  }
  .cart-container__flex-top {
    display: flex;
  }
  .cart-container__flex-top .product {
    width: 40%;
  }
  .cart-container__flex-top .product h3 {
    margin-top: 0;
    text-align: center;
  }
  .cart-container__flex-top .product img {
    width: 15rem;
  }
  .cart-container__flex-top__mobile {
    border: none;
    width: 40%;
  }
  .cart-container__flex-top__mobile .title-top {
    padding: 0.5rem;
    display: block;
    width: 100%;
    border-top: 2px solid #151515;
    font-weight: 400;
  }
  .cart-container__flex-top .subtotal {
    width: 20%;
    margin: 0;
    border-top: 2px solid #151515;
    text-align: center;
  }
  .cart-container__flex-top .subtotal .title-top {
    padding: 0.5rem;
    display: block;
    width: 100%;
    border-bottom: 2px solid #151515;
    font-weight: 400;
    border-left: 2px solid #151515;
  }
  .cart-container__flex-top .subtotal .price {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 2px solid #151515;
  }
  .cart-container__flex-bottom {
    display: flex;
    justify-content: space-between;
  }
  .cart-container__flex-bottom .discount {
    width: 15rem;
  }
  .cart-container__flex-bottom .total {
    width: 60%;
  }
}
.checkout-container h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.checkout-container-flex__right {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.checkout-container-flex__right .overview {
  border: 2px solid #151515;
}
.checkout-container-flex__right .overview h4 {
  margin-top: 0;
  padding: 1rem;
}
.checkout-container-flex__right .overview__flex {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding: 1rem;
}
.checkout-container-flex__right .overview__flex span {
  display: block;
}
.checkout-container-flex__right .overview__flex:nth-of-type(3) {
  padding: 1rem;
  background: #151515;
  color: #FFF;
  margin-top: 1rem;
}
.checkout-container-flex__left {
  background: #E9E2DF;
  padding: 1rem;
  margin-bottom: 4rem;
}
.checkout-container-flex__left .shipping {
  padding-top: 1rem;
}
.checkout-container-flex__left .shipping form {
  display: flex;
  flex-direction: column;
}
.checkout-container-flex__left .shipping form .form-example input {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.checkout-container-flex__left .shipping form select {
  padding: 1rem;
}
.checkout-container-flex__left .delivery {
  margin-top: 1rem;
}
.checkout-container-flex__left .delivery ul {
  display: flex;
  flex-direction: column;
}
.checkout-container-flex__left .delivery ul li {
  width: 100%;
  border: 2px solid #151515;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: 0.3s ease-in-out all;
}
.checkout-container-flex__left .delivery ul li:hover {
  background: #151515;
  color: #FFF;
}
.checkout-container-flex__left .method {
  margin-top: 1rem;
}
.checkout-container-flex__left .method ul {
  display: flex;
  flex-direction: column;
}
.checkout-container-flex__left .method ul li {
  border: 2px solid #151515;
  padding: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: 0.3s ease-in-out all;
  display: flex;
  transition: 0.3s ease-in-out all;
}
.checkout-container-flex__left .method ul li img {
  height: 4rem;
  margin-right: 1rem;
}
.checkout-container-flex__left .method ul li:hover {
  background: #151515;
  color: #FFF;
}

@media (min-width: 60rem) {
  .checkout-container h1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .checkout-container-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .checkout-container-flex__left {
    width: 65%;
  }
  .checkout-container-flex__right {
    width: 30%;
  }
}
.profile-container {
  padding-bottom: 3rem;
}
.profile-container__bg {
  background-color: #E9E2DF;
  height: 13rem;
}
.profile-container__heading {
  margin-top: -13rem;
  margin-bottom: 0.5rem;
}
.profile-container__heading .welcome {
  background: #151515;
  color: #FFF;
  display: flex;
  align-items: center;
}
.profile-container__heading .welcome__info {
  margin-left: 1rem;
}
.profile-container__heading .welcome__info span {
  display: block;
  font-size: 1.75rem;
  font-weight: 600;
}
.profile-container__heading .welcome__info span:nth-of-type(2) {
  color: #88A8DE;
}
.profile-container__main-left {
  margin-top: 1rem;
}
.profile-container__main-left ul li {
  margin-bottom: 0.5rem;
}
.profile-container__main-left ul li a {
  font-size: 1.25rem;
  color: #151515;
  font-weight: 600;
  scroll-behavior: smooth;
}
.profile-container__main-left ul li a i {
  margin-right: 0.5rem;
}
.profile-container__main-right .wishlist .card {
  border: 2px solid #151515;
  padding: 1rem;
  text-align: center;
  position: relative;
}
.profile-container__main-right .wishlist .card img {
  width: 80%;
}
.profile-container__main-right .wishlist .card span {
  display: block;
  font-size: 1.25rem;
}
.profile-container__main-right .wishlist .card span:first-of-type {
  font-weight: 600;
}
.profile-container__main-right .wishlist .card i {
  font-size: 1.75rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.profile-container__main-right .user-settings {
  display: flex;
  flex-direction: column;
  border: 2px solid #151515;
  padding: 1rem;
}
.profile-container__main-right .user-settings-left span {
  display: block;
  margin-bottom: 0.5rem;
}
.profile-container__main-right .user-settings-left a span {
  margin-bottom: 0;
}
.profile-container__main-right .user-settings-right span {
  display: block;
}
.profile-container__main-right .payment-history {
  border: 2px solid #151515;
  padding: 1rem;
}
.profile-container__main-right .payment-history-left span {
  display: block;
}
.profile-container__main-right .payment-history-right .card {
  padding: 1rem;
  text-align: center;
  position: relative;
}
.profile-container__main-right .payment-history-right .card img {
  width: 80%;
}
.profile-container__main-right .payment-history-right .card span {
  display: block;
  font-size: 1.25rem;
}
.profile-container__main-right .payment-history-right .card span:first-of-type {
  font-weight: 600;
}
.profile-container__main-right .payment-history-right .card i {
  font-size: 1.75rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.profile-container .fa-heart {
  color: #80B4A1;
}
.profile-container .fa-user-cog {
  color: #88A8DE;
}
.profile-container .fa-history {
  color: #A38383;
}
.profile-container .fa-sign-out-alt {
  color: #F6AB95;
}

@media (min-width: 60rem) {
  .profile-container__heading .welcome {
    margin-left: auto;
    width: 60%;
  }
  .profile-container__heading .welcome img {
    width: 10rem;
  }
  .profile-container__main {
    display: flex;
    justify-content: space-between;
  }
  .profile-container__main-left {
    width: 20%;
  }
  .profile-container__main-right {
    width: 70%;
  }
  .profile-container__main-right .wishlist .card img {
    width: 20rem;
  }
  .profile-container__main-right .user-settings {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .profile-container__main-right .user-settings-left {
    width: 40%;
  }
  .profile-container__main-right .user-settings-right {
    width: 40%;
  }
  .profile-container__main-right .payment-history {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .profile-container__main-right .payment-history-left {
    width: 40%;
  }
  .profile-container__main-right .payment-history-right {
    width: 40%;
  }
}
/*
Themes
*/
