<div class="cookie-container">
    <p>We use cookies to give you the best online experience.</p>

    <p>This is a fictional project commissioned by Artevelde University of Applied Sciences (Associate Degree in Programming).</p>

    <button class="cookie-btn">Gotcha!</button>
</div>