<ul class="socials__list">
    <li class="socials__list-item">
        <a href="#">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li class="socials__list-item">
        <a href="#">
            <i class="fab fa-facebook"></i>
        </a>                </li>
    <li class="socials__list-item">
        <a href="#">
            <i class="fab fa-youtube"></i>
        </a>                
    </li>
</ul>
