<ul class="socials__list">
    <li class="socials__list-item">
        <a href="https://www.instagram.com/thatnicolas" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    
    <li class="socials__list-item">
        <a href="#">
            <i class="fab fa-facebook"></i>
        </a>                
    </li>

    <li class="socials__list-item">
        <a href="https://www.linkedin.com/in/nicolascnudde" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin-in"></i>
        </a>                
    </li>

    <li class="socials__list-item">
        <a href="https://www.nicolascnudde.be" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-link"></i>
        </a>                
    </li>
</ul>
